*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    min-height: 300vh;
}
.header{
    width: 100%;
    background-color: #000;
}
.container{
    max-width: 1132px;
    margin: 0 auto;
    padding: 0 16px;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
}
.navbar__list{
    display: flex;
    gap: 27px;
    list-style: none;
}
.navbar__link{
    text-decoration: none;
    color: #8B8E99;
}
.navbar__link:hover{
    text-decoration: underline;
}
.hero__wrapper{
    width: 100%;
    display: flex;
    gap: 150px;
    padding: 120px 0;
}
.hero__text{
    width: calc(50% - 75px);
}
.hero__text{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.hero__title{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}
.hero__desc{
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
    margin: 45px 0;
    line-height: 1.5;
}
.hero__search{
    max-width: 443px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 7px 12px;
    border-radius: 15px;
    background-color: #fff;
}
.hero__input{
    flex: 1;
    outline: none;
    border: none;
    margin-left: 5px;
}
.hero__btn{
    width: 110px;
    height: 45px;
    border-radius: 8px;
    background-color: #3858D6;
    color: #fff;
    border: none;
}
.hero__image img{
    max-width: 460px;
}
.category__section{
    width: 100%;
}
.category__wrapper{
    display: flex;
    gap: 20px;
    padding: 70px 0;
}
.category__card{
    width: calc(33.33% - 13.33px);
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    height: 260px;
    padding: 40px;
    border-radius: 22px;
}
.category__text,
.category__image{
    width: calc(50% - 5px);
}
.category__name{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1E1D1D;
}
.category__desc{
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
}
.product__hero{
    width: 100%;
}
.product__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product__subtitle{
    font-size: 16px;
    font-weight: 500;
    color: #3858D6;
}
.product__title{
    font-size: 36px;
    font-weight: 700;
    color: #1E1D1D;
    margin-bottom: 65px;
}
.product__card__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.product__card{
    padding: 20px;
    width: calc(33.33% - 33.33px);
    display: flex;
    height: 440px;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product__card img{
    width: 90%;
    height: 70%;
}
.product__name{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #1E1D1D;
}
.product__price{
    display: flex;
}